@import "tailwindcss";

@theme {
  --font-pantasia: "Helvetica Nueue", serif;

  --color-dark-grey: #222222;
  --color-mid-grey: #636363;
  --color-grey: #a1a1a1;
  --color-light-grey: #efefef;
  --color-off-white: #f5f5f5;

  --spacing-grid-mobile: 7.5px;
  --spacing-xs: 5px;
  --spacing-s: 15px;
  --spacing-sm: 20px;
  --spacing-m: 30px;
  --spacing-l: 60px;
  --spacing-xl: 90px;
  --spacing-xxl: 120px;
  --spacing-3xl: 170px;
  --spacing-header: 180px;
  --spacing-header-mobile: 76px;

  --ease-cubic-out: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-in-out-simple: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
}

